<div #smoothWrapper class="bg-white text-black dark:bg-black text-white">
  <header class="bg-transparent top-0 sticky py-5">
    <div class="max-w-6xl mx-auto text-xl tracking-wide montserrat-text">
      <div class="flex justify-between">
        <div
          class="cursor-pointer flex flex-row gap-5 hover:scale-110 transition"
          (click)="scrollToElement('name')"
        >
          <div class="text-orange-500">{{ "{" }}</div>
          <p>Raul V. Dias</p>
          <div class="text-orange-500">&#125;</div>
        </div>

        <div class="flex flex-row gap-8">
          <a class="cursor-pointer hover:scale-110 transition">Sobre</a>
          <a class="cursor-pointer hover:scale-110 transition">Skills</a>
          <a class="cursor-pointer hover:scale-110 transition">Projetos</a>
          <a class="cursor-pointer hover:scale-110 transition">Contato</a>
        </div>
      </div>
    </div>
  </header>
  <main #smoothContent class="h-screen flex items-center justify-center pb-25">
    <div
      id="name"
      class="flex flex-col items-center p-6 hover:bg-gray-900 hover:border-2"
    >
      <span class="text-8xl font-bold montserrat-text name"
        >Raul Victor Dias</span
      >
      <span class="pt-3">Engenheiro de Software | Desenvolvedor Web</span>
    </div>
  </main>
</div>
