header.scrolled {
  background-color: rgba(41, 40, 40, 0.98); /* New background color on scroll */
  box-shadow: 0 2px 5px rgba(0, 0, 0, 1); /* Optional shadow */
  transition: 0.5s;
}

.montserrat-text {
  font-family: "Montserrat", sans-serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
}

a:hover {
  background: -webkit-linear-gradient(#ffe364, #ffe08b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.name {
  background: -webkit-linear-gradient(#db8008, #fcff59);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
